/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store

.project
.directory
*.swp
*~
.DS_Store
.idea
.envrc
.nvmrc
.ruby-gemset
.ruby-version
.rspec-local
*.backup
npm-debug.log

*.bundle
*.so
*.o
*.a
mkmf.log
